@model NewCollaborationModel

@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-center">
    <div class="row align-items-center justify-content-center w-100">
        <div class="col-md-4">
            <section class="text-center">
                <h2>Create a collaboration</h2>

                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Name" class="form-control" autocomplete="name" aria-required="true" />
                        <label asp-for="Name"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Users" class="form-control" />
                        <label asp-for="Users"></label>
                        <span asp-validation-for="Users" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}